$theme-colors: (
  'primary': rgb(109, 109, 109),
  'success': green,
  'danger': #e80303,
  'info': rgb(0, 251, 255),
  'warning': rgb(221, 255, 0)
);

//flex
.flex-d {
    display: flex;
    flex-direction: column;
}

.content-center {
    display: flex;
    justify-content: center;
}

.sapce-around {
    justify-content: space-around;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

//width. height
.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.w-90 {
    width: 90%;
}

.w-20rem {
    max-width: 20rem;
}

.w-40rem {
    max-width: 40rem;
}

.w-60rem {
    max-width: 60rem;
}

.w-80rem {
    max-width: 80rem;
}

.h-2rem {
    height: 2rem;
}

.w-fit-content {
    width: fit-content;
}

//font
.bold {
    font-weight: bold !important;
}

.capslock {
    text-transform: uppercase !important;
}

.f-12 {
    font-size: 12px;
}

.f-13 {
    font-size: 13px;
}

.f-20 {
    font-size: 20px;
}

.f-25 {
    font-size: 25px;
}

.f-60 {
    font-size: 60px;
}


//color
.light-black-1 {
    color: #2e2e2e;
}

.light-black-2 {
    color: #504f4f;
}

.light-black-3 {
    color: #747474;
}

.light-black-4 {
    color: #969696;
}


input {
    border: 1px solid #c0c0c0 !important;
}

@import 'bootstrap/scss/bootstrap';