$theme-colors: (
  'primary': rgb(255, 255, 255),
  'success': green,
  'danger': #e80303,
  'info': rgb(0, 251, 255),
  'warning': rgb(221, 255, 0)
);

//width. height
.w-20rem {
    max-width: 20rem;
}

.h-2rem {
    height: 2rem;
}

@import 'bootstrap/scss/bootstrap';